/*шапка-стили*/
body {
  font-family: "Raleway", Arial, sans-serif;
}
.header {
  padding: 82px 50px 88px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}
.header-nav {
  display: flex;
  gap: 34px;
  list-style: circle;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
.list-active {
  list-style: none;
}

.active {
  text-decoration: none;
}
.black-logo {
  height: 117px;
  width: 133px;
}
.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 25px;
  word-break: break-all;
}
.header-address {
  margin-left: 195px;
  margin-right: 35px;
}
.links {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}
/*презентация-стили*/
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  height: 757px;
}
.overlay {
  position: relative;
  background-color: rgb(0, 0, 0, 0.6);
  height: 100%;
  z-index: 2;
}
.main-title {
  padding: 155px 20px 96px 50px;
  text-transform: uppercase;
  color: white;
  word-spacing: 45px;
  letter-spacing: 30px;
  font-size: 100px;
  font-weight: 700;
}
.accent-span {
  display: block;
  line-height: 135px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.cover_discription {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.cover_discription-text {
  margin-left: 7px;
  margin-top: 12px;
  color: white;
  word-spacing: 18.5px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}
.btn {
  padding: 12px 32px;
  margin-right: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}
/* лоты стили*/
.container {
  margin: 180px 24px 120px;
}
.title-lots {
  margin-left: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}
.lots_card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 27px;
  margin-bottom: 30px;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  position: relative;
  background-position: center;
  background-size: cover;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  height: 100%;
}
.card-film {
  background-image: url("../images/card-lot-01.jpg");
}
.card-book {
  background-image: url("../images/card-lot-02.jpg");
}
.card-picture {
  background-image: url("../images/card-lot-03.jpg");
}
.card_link {
  text-decoration: none;
}
.card-title {
  padding: 48px 40px 37px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.card-text {
  margin: auto 40px 48px;
  color: #ffffff;
  font-size: 20px;
}
.more {
  margin-left: 42px;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  font-size: 20px;
}
/* about стили */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  margin-top: 154px;
}
.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 71px;
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 360px;
}
.white-logo {
  height: 112px;
  width: 141px;
}
.title-about {
  margin-top: 101px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}
.text-about_container {
  margin-top: 100px;
  width: 690px;
}
.text-about {
  margin-top: 24px;
  font-size: 20px;
}
/*footer стили*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 181px 50px 80px;
  gap: 140px;
  font-size: 18px;
}
.footer-nav {
  display: block;
  text-align: center;
  list-style: none;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}
.underlink {
  display: flex;
  gap: 48px;
  justify-content: end;
  list-style: none;
}
.picture_link {
  height: 48px;
  width: 48px;
}
