/*шапка-стили*/
.header {
  padding: 88px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}
.active {
  list-style: none;
}
.nav :not(.active) {
  text-decoration: underline;
}
.header-nav {
  display: flex;
  gap: 33px;
  list-style: circle;
}
.black-logo {
  height: 117px;
  width: 133px;
}
.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 25px;
  word-break: break-all;
}
.header-address {
  margin-left: 195px;
  margin-right: 35px;
}
.links {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
}
/*презентация-стили*/
.cover {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 1px;
  min-height: 757px;
}
.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  height: 100%;
}
.main-title {
  padding: 155px 22px 106px 50px;
  text-transform: uppercase;
  color: white;
  word-spacing: 44px;
  letter-spacing: 30px;
  font-size: 100px;
  font-weight: 700;
}
.accent-span {
  display: block;
  line-height: 135px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.cover_discription {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.cover_discription-text {
  margin-left: 5px;
  color: white;
  word-spacing: 18px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.btn {
  margin-top: -12px;
  padding: 12px 32px;
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 22px;
}
/* лоты стили*/
.container {
  margin: 180px 24px 120px;
}
.lots_card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}
.title-lots {
  margin-left: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}
.card {
  position: relative;
  margin-top: 27px;
  margin-bottom: 30px;
  min-height: 596px;
  height: 1px;
  background-position: center;
  background-size: cover;
}
.card-title {
  padding: 48px 40px 35px;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.card-text {
  display: inline-block;
  margin: auto 40px 48px;
  color: #ffffff;
  font-weight: 400px;
  font-size: 20px;
}
.card-text_film {
  margin-top: 244px;
}
.card-text_picture {
  margin-top: 96px;
}
.more {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}
/* about стили */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  margin-top: 155px;
}
.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 360px;
}
.white-logo {
  height: 112px;
  width: 141px;
}
.title-about {
  margin-top: 101px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}
.text-about_container {
  margin-top: 100px;
  margin-right: 3.4px;
}
.text-about {
  margin-top: 24px;
  font-size: 20px;
}
/*footer стили*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  margin-right: 50px;
  gap: 140px;
  font-size: 18px;
}
.footer-nav {
  display: block;
  text-align: center;
  list-style: none;
}
.underlink {
  display: flex;
  gap: 48px;
  justify-content: end;
}
.yt,
.vk,
.pt {
  height: 48px;
  width: 48px;
}
